<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8" />
    <meta name="description" content="<%= productDescription %>" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <link
      rel="icon"
      type="image/webp"
      sizes="180x180"
      href="icons/favicon-180x180.webp"
    />
    <link
      rel="icon"
      type="image/webp"
      sizes="192x192"
      href="icons/favicon-192x192.webp"
    />
    <link
      rel="icon"
      type="image/webp"
      sizes="32x32"
      href="icons/favicon-32x32.webp"
    />
    <link
      rel="icon"
      type="image/webp"
      sizes="270x270"
      href="icons/favicon-270x270.webp"
    />
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
